PORT=8080
WEBHOOK_SECRET=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=bantu-connect-storage
R2_PUBLIC_BASE_URL=https://assets.bantustreamconnect.com

SUPABASE_URL=https://ydnxqnbjoshvxteevemc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
